<div class="container container-padded">
	<div class="row"> 
		<div class="offset-md-2 col-md-8">

    	<!-- CARD -->
			<div class="card">

				<!-- CARD HEADER -->
				<div class="card-header">
				 	<ul class="nav navbar-nav">
				 		<li class="nav-item"><%= @tweet.user.username %> | <small><%= time_ago_in_words(@tweet.created_at) %></small></li>
					</ul>
				</div>

				<!-- CARD BLOCK -->
				<div class="card-block">
					<p class="card-text"><%= @tweet.content %></p>
				</div>

				<!-- CARD FOOTER -->
				<div class="card-footer text-muted">
					 	<ul class="nav navbar-nav">
							<li class="nav-item "><%= link_to 'Back', tweets_path %></li>
							<!-- If you own the tweet then you can delete or edit -->
							<% if @tweet.user == current_user %>
								<li class="nav-item"><%= link_to 'Edit', edit_tweet_path(@tweet) %></li>
								<li class="nav-item"><%= link_to 'Delete', @tweet, method: :delete, data: { confirm: 'Are you sure?' } %></li>
							<% end %>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>	